In [1]:
import os
import pandas as pd

In [2]:
core_path = os.getcwd().replace("notebooks","artifacts")
path = os.path.join(core_path, "state_band_values")
out_path = os.path.join(core_path, "values.csv")

In [3]:
s1_dfs, s2_dfs = [], []
for file in os.listdir(path):
    if os.path.splitext(file)[1] == '.csv':
        filepath = os.path.join(path, file)
        data, state, classN = file.replace('.csv','').split('_')
        df = pd.read_csv(filepath)
        if data == 'S1':
            s1_dfs.append(df)
        elif data == 'S2':
            df['State'] = state
            df['wClass'] = classN
            s2_dfs.append(df)
        else:
            print(f'{file} is of different raster data: {data}')

In [4]:
values = pd.merge(pd.concat(s1_dfs), pd.concat(s2_dfs), on='.geo')

In [5]:
values.shape

(761, 43)

In [6]:
values.columns

Index(['system:index_x', 'VH', 'VH_Times_VH', 'VH_VV_Ratio', 'VV',
       'VV_Plus_VH', 'VV_Times_VH', 'VV_Times_VV', 'VV_VH_Ratio', 'angle',
       '.geo', 'system:index_y', 'AOT', 'B1', 'B11', 'B12', 'B2', 'B3', 'B4',
       'B5', 'B6', 'B7', 'B8', 'B8A', 'B9', 'DI', 'EVI', 'MNDWI', 'MSK_CLDPRB',
       'MSK_SNWPRB', 'NDBI', 'NDTI', 'NDVI', 'QA10', 'QA20', 'QA60', 'SCL',
       'TCI_B', 'TCI_G', 'TCI_R', 'WVP', 'State', 'wClass'],
      dtype='object')

In [7]:
drop_cols = [
    'system:index_x', 'system:index_y', 'angle', '.geo', 'AOT', 'B1', 'B9',
    'MSK_CLDPRB', 'MSK_SNWPRB', 'QA10', 'QA20', 'QA60', 'SCL', 'TCI_B', 'TCI_G',
    'TCI_R', 'WVP']
values.drop(drop_cols, axis=1, inplace=True)

In [8]:
values.head()

,VH,VH_Times_VH,VH_VV_Ratio,VV,VV_Plus_VH,VV_Times_VH,VV_Times_VV,VV_VH_Ratio,B11,B12,...,B8,B8A,DI,EVI,MNDWI,NDBI,NDTI,NDVI,State,wClass
0,-20.471160,419.068380,0.534892,-10.949850,-31.421009,224.156122,119.899209,1.869538,2312,1921,...,1900,1959,0.135157,0.160226,-0.284444,0.097816,-0.197258,0.077098,KA,nonWater
1,-12.451718,157.279416,0.584572,-7.184558,-19.636276,89.623977,52.108571,1.748148,2709,1798,...,2224,2543,0.329650,1.298890,-0.594467,0.098317,-0.445919,0.472848,KA,nonWater
2,-21.045413,443.430633,0.538398,-11.317876,-32.363289,238.197993,128.094463,1.859419,4444,3536,...,2854,3106,0.215928,0.221991,-0.583185,0.217868,-0.502762,0.165850,KA,nonWater
3,-15.790104,250.885827,0.554146,-8.694810,-24.484914,137.247900,76.302481,1.833438,3186,2284,...,1942,2160,0.259951,0.847958,-0.628002,0.242590,-0.516600,0.362807,KA,nonWater
4,-17.177968,296.727165,0.599235,-10.238045,-27.416013,175.894071,106.111523,1.698753,3142,2250,...,2762,2650,0.294595,0.639208,-0.529326,0.064363,-0.398819,0.350611,KA,nonWater

In [9]:
values.to_csv(out_path, index=False)